extends layout
block page
	- var menu = 'add'
block content
	if (data !== [])
		
		h4= info
		div.row.well
			if (isbn)
				div.col-xs-12.col-sm-4.col-md-3.col-lg-2
					img.img-responsive(src=""+data.imageLinks.thumbnail+"")
					form(action="/api/books/"+isbn+"", method="POST", role="form")
						button.btn.btn-default.btn-block(href="#", role="submit") Choose
			else
				each val, index in data
					div.col-xs-12.col-sm-4.col-md-3.col-lg-2
						img.img-responsive(src=""+val.thumbnail+"")

						form.row(action="/api/books/"+val.industryIdentifiers[0].identifier+"", method="POST", role="form")
							button.btn.btn-default.btn-block(href="#", role="submit") Choose
	
	h3 Add a book to the trade library
	form.row(action="/api/add", method="POST", role="form")
		div.col-xs-12.col-sm-8
			h6 ISBN (if known):
			div.input-group.col-xs-12
				input.form-control(name="isbn", type="text")
			h6 Book Title:
			div.input-group.col-xs-12
				input.form-control(name="title", type="text")
			button.btn.btn-block(type="submit") Add
		