extends layout
block page
	- var menu = 'index'
	- var requests = request
block content
	- var dataString = JSON.stringify(data)
	input(type='hidden', class='data-json', value= dataString)
	h3 List your book for trade
	if (data[0])
		if (data[0].books[0])
			if (!user)
				h3 All books in the trade library
				h4 Sign up to trade
			else
				h3 Books in your area
				h4 Mark books you want

		
			
			div.row.well
				each val, index in data
					each book, i in val.books
						div.col-xs-12.col-sm-4.col-md-3.col-lg-2.margins
							img.img-responsive(src=""+book.thumbnail+"")
							if (user)
								form(action="/api/requestlist/"+book.owner+"/"+book.isbn+"/"+book.location+"", method="POST", role="form")
									button.btn.btn-default.btn-block(href="#", role="submit") Request
		
		else
			h4 list your own
			form.row(action="/api/add", method="POST", role="form")
				div.col-xs-12.col-sm-4
					h6 ISBN (if known):
					div.input-group.col-xs-12
						input.form-control(name="isbn", type="text")
					h6 Book Title:
					div.input-group.col-xs-12
						input.form-control(name="title", type="text")
					button.btn.btn-block(type="submit") Add
		